* {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}