* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon {
    background-color: #49D0B0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
}

.pokemon .number {
    color: #000;
    font-size: .625rem;
    opacity: 0.3;
    text-align: right;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: .25rem;
}

.pokemon .detail {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon .detail .types {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon .detail .types .type {
    background-color: #61E1C0;
    border-radius: 1rem;
    color: #FFF;
    font-size: .625rem;
    margin: .25rem 0;
    text-align: center;
    padding: .25rem .5rem;
}

.pokemon .detail img {
    align-self: flex-end;
    max-width: 100%;
    height: 70px;
}