* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemons li {
    background-color: #14A06F;
    border-radius: 1rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
}

.pokemons li img {
    align-self: flex-end;
    max-width: 100%;
    height: 100px;
}