.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
}

.pokemon .number {
    color: #000;
    font-size: .625rem;
    opacity: 0.3;
    text-align: right;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon .detail .types {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon .detail .types .type {
    border-radius: 1rem;
    color: #FFF;
    filter: brightness(1.1);
    font-size: .625rem;
    margin: .25rem 0;
    padding: .25rem .5rem;
    text-align: center;
}

.pokemon .detail img {
    align-self: flex-end;
    height: 70px;
    max-width: 100%;
}

.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.pagination button {
    background-color: #6C79D6;
    border: none;
    border-radius: 1rem;
    color: #FFF;
    font-size: .625rem;
    margin: .25rem 0;
    padding: .25rem .5rem;
    transition: 300ms;
}

.pagination button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}